apiVersion: apps/v1
kind: Deployment
metadata:
  name: social-service
  namespace: personalcook
spec:
  replicas: 1
  selector:
    matchLabels:
      app: social-service
  template:
    metadata:
      labels:
        app: social-service
    spec:
      containers:
        - name: social-service
          image: piasotlar/social_service:v2
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000

          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: social-service-db
                  key: DATABASE_URL

            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: jwt-secret

            - name: JWT_ALGORITHM
              value: HS256

            - name: RECIPE_SERVICE_URL
              value: http://recipe-service:8000/recipes

            - name: USER_SERVICE_URL
              value: http://user-service:8000/users

          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10

          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 20
            periodSeconds: 10
