apiVersion: v1
kind: Service
metadata:
  name: social-service
  namespace: personalcook
spec:
  selector:
    app: social-service
  ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP
  type: ClusterIP
