apiVersion: v1
kind: Service
metadata:
  name: social-service
  namespace: personalcook
  labels:
    app: social-service
spec:
  selector:
    app: social-service
  ports:
    - name: http
      port: 8000
      targetPort: 8000
      protocol: TCP
  type: ClusterIP
